# Byte-compiled files and Jupyter Notebook checkpoints
__pycache__/
*.egg-info/
*.pyc
.ipynb_checkpoints/
build/

# Private cryptography keys
*.pem

# Logging files
*.log

# Tutorial Files
# Common files. These are used in multiple tutorials, but are large binary files.
# They should not be git tracked, and will need to be distributed separately.
tutorials/common/*

# SimAFM
tutorials/SimAFM/keys/*
tutorials/SimAFM/output/*